#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:
df = pd.read_csv("MyData.csv")

#### Reading total nnumber of recordes and prnting the information

In [3]:
print("number of rows:", str(df.shape[0])+"\nnumber of columns:", df.shape[1])

number of rows: 252
number of columns: 7

#### Printing information about dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       252 non-null    object
 1   Open       251 non-null    float64
 2   High       251 non-null    float64
 3   Low        251 non-null    float64
 4   Close      251 non-null    float64
 5   Adj Close  251 non-null    float64
 6   Volume     251 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.9+ KB

In [5]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02
mean,172.387251,176.308167,168.530280,172.372111,172.372111,7.805806e+07
std,83.727808,85.487863,81.684666,83.568994,83.568994,5.052564e+07
min,71.750000,75.400002,71.000000,72.900002,72.900002,1.519374e+07
25%,106.325001,108.849998,104.199997,106.100003,106.100003,4.747886e+07
50%,140.600006,143.250000,137.649994,140.100006,140.100006,6.336693e+07
75%,213.449997,237.099998,211.875000,229.224998,229.224998,8.831973e+07
max,348.649994,357.000000,346.500000,348.500000,348.500000,3.905778e+08

#### Find the dates of maximum opening in year 2020 and year 2021

In [6]:
index = 0
for i in df.iloc[:, 0]:
    if i[:4] == '2020':
        index = index+1
    else: break
        
index

182

##### Creating separate datasets for year 2020 and 2021

In [7]:
df_2020 = df.iloc[ : index, : ]
df_2021 = df.iloc[index : , : ]

In [8]:
open_max_2020 = df_2020.iloc[:, 1].max()
open_max_2021 = df_2021.iloc[:, 1].max()

print("Opening Maximum in 2020:", open_max_2020)
print("Opening Maximum in 2021:", open_max_2021)

Opening Maximum in 2020: 187.899994
Opening Maximum in 2021: 348.649994

#### Find the dates of minimum closing in the year 2021.

In [9]:
min_closing_2021 = 10000
date_index = 0
count = 0

for i in df_2021.iloc[:, 4]:
    if i < min_closing_2021:
        min_closing_2021 = i
        date_index = count
    count += 0

In [10]:
min_closing_2021_date = df_2021.iloc[date_index, 0]
print("Minimum closing date of year 2021:", min_closing_2021_date)

Minimum closing date of year 2021: 2021-01-01

#### Find the maximum, minimum, mean, median of the volume.

In [11]:
volume = df.loc[:, 'Volume']
print("Minimum Volume:", volume.min())
print("Maximum Volume:", volume.max())
print("Median Volume:", volume.median())
print("Mean Volume:", volume.mean())

Minimum Volume: 15193744.0
Maximum Volume: 390577839.0
Median Volume: 63366932.0
Mean Volume: 78058055.65737052

#### Find the outlier values of the volume column

In [30]:
def outlier(column):
    column = pd.DataFrame(column)
    volume_des = column.describe()
    volume_des = np.array(volume_des)
    # volume_des = volume_des.reshape(8, 1)
#     print(volume_des[4][0])
    q1 = volume_des[4][0]
    q3 = volume_des[6][0]
    IQR = q3-q1
    OF = IQR*3
    OFRangeL, OFRangeU = (q1-OF, q3+OF)
    return OFRangeL, OFRangeU

In [31]:
range_outlierl, range_outlieru = outlier(volume)
outliers = [i for i in volume if i > range_outlieru or i < range_outlierl]

In [32]:
print("Outliers are: ")
for i in outliers:
    print(i)

Outliers are:
215476711.0
390577839.0
250038029.0
283614463.0
316008609.0
251965965.0
224190114.0

In [33]:
outlier(volume)

(-75043746.0, 210842344.0)